<html>

<body>

    <form action="?" method="POST">

        <fieldset>

            <div style="font-size: 20px; margin-left: auto; margin-right: auto; width: 300px;">
            <legend>Your Review of Avengers Endgame</legend>
            
            <br>
            {{ form.name.label}} 
            <br>
            {{ form.name }}
            <br>

            {{ form.review.label }}
            <br>
            {{ form.review }}
            <br>

            {{ form.submit }}
            <br>


            </div>

        </fieldset>

    </form>

</body>

</html>